*,
*::before,
*::after {
    box-sizing:border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #151b29;
}

body {
    margin: 0;
}

/*HEADER*/
.site-header {
    background-color:#151a28;
    position:fixed;
    width:100%;
    z-index: 100;
    display:block;

}
.flex-container {
    display:flex;
    
}

.site-header .container {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    margin: 0px auto; 
}

#logotipas {
    width: 100%;
    height: 100%;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    border-radius: 50%;
    margin: auto 10px 0px 0px;
}

.logo {
    cursor: pointer;
    display:flex;
    align-items:center;
    padding: 0;
}
.nav_links a, .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.nav_links {
    list-style: none;
    display: flex;
}
.nav_links li {
    padding: 40px 33px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover, .nav_links li a:active, .logo:hover, .logo:active {
    color: #d89b64;
    text-decoration: none;
}

.logo {
    transition: all 0.3s ease 0s;
}
.contact {
    padding: 9px 25px;
    background-color: #d89b64;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact:hover {
    background-color: #f1ad70;
}

.mobile-nav {
    display: none;
}

/* hero block*/

#home {
    padding: 0 15px 0 0;
  }

  #home h1 {
    color: #fff;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3rem;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 4rem;
    font-weight:700;
    letter-spacing: 0.01;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
  }


  .slider .owl-dots {
    position: absolute;
    top: 50%;
    right: 2em;
    justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot {
    display: block;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 7px 10px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    padding: 4em 0 0 2em;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 850px;
  }

  .slider .item-first {
    background-image: url(../images/slider-image1.jpg);
     
  }

  .slider .item-second {
    background-image: url(../images/slider-image2.1.jpg);
  }

  .slider .item-third {
    background-image: url(../images/slider-image3.jpg);
  }

  

    .slider .item-first .section-btn:hover,
    .slider .item-second .section-btn:hover,
    .slider .item-third .section-btn:hover{
     background-color: #f1ad70;
  }

    .slider .item-third .section-btn,
    .slider .item-second .section-btn,
    .slider .item-first .section-btn {
    background-color: #d89b64;
    border: solid 1px #d89b64;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
  }


/*second block end*/


.section-heading {
    text-align: center;
    color:#000;
    padding: 70px 0px 0px 0px;
    margin: 0;
}

.section-heading h2 {
    font-size: 4rem;
    font-weight:700;
    letter-spacing: 0.01;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 40px 0;
    margin: 0;
}

.section-heading p {
    max-width:610px;
    margin:0 auto;
    line-height: 1.4444em;
    font-family: 'Crimson Text', serif;
    color: #8b909d;
}

.picture {
    text-align: center;
    margin: 80px auto 0;
    padding: 0 25px 0 25px;
    max-width: 100%;
    height: auto;
}

.picture img {
    max-width: 100%;
}
.picture:hover{
    transform: scale(1.1);
}

.picture {
    transition: transform .2s;
}
.picture h3 {
    font-size:3rem;
    text-transform: uppercase;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
}

#foto1, #foto3 {
    object-fit: cover;
    filter: brightness(.7);
    box-shadow: 0 0 10px #c2c2c2;
}

#foto2 {
    box-shadow: 0 0 30px #c2c2c2;
}
.perfections .container {
    margin: 0;
    width: 100%;
    padding: 0px 0 150px 0;
    border: none;
}
.perfections .picture {
    position: relative;
}
.picture h3 {
    position: absolute;
    bottom: 350px;
    padding: 40px;
    right: 100px;
    font-size: 5rem;
    color: #d89b64;
}

.picture p {
    position: absolute;
    bottom: 300px;
    padding: 40px;
    right: 0px;  
    font-family: 'Crimson Text', serif;
    font-weight: italic; 
    font-size: 2.4rem;
    color: #151b29;
    font-weight: 600; 
}
.picture h3:after {
    content:"";
    display:block;
    width: 50px;
    border-top: 4px solid #d89b64;
    margin: 22px auto;
}


.picture #phototext1{
    bottom: 170px;
    color: #151b29;
}
.picture #phototext1:after {
    content:"";
    display:block;
    width: 50px;
    border-top: 4px solid #151b29;
    margin: 22px auto;
}
.picture #phototext2{
    bottom: 90px;
    color: #151b29;
    
}

/*Apie Mus*/

.apiemus {
    background-image: url("../images/scones.png");
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
}

.apiemus .container {
    padding: 200px;
    }

.whiteborder h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform:uppercase;
    color: #161b29;
    padding: 0px 40px;
}
.whiteborder p{
    color: #8b909d;
    font-family: 'Crimson Text', serif;
    font-weight: italic; 
    padding: 0px 40px;
    text-align: center;
}
.whiteborder {
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 5px;
}
.apiemus a {
    color: #d89b64;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 28px 50px 25px;
    border-radius: 5px;
    border: 2px solid #8b909d;
    margin-top: 40px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    display:inline-block;
    cursor:pointer;
    margin: 20px;
}

.apiemus a:hover {
    background: #d89b64;
    color: #ffffff;
    text-decoration: none; 
      
  }


/*SLIDER*/

.slidertext p {
    max-width:610px;
    margin:0 auto;
    line-height: 1.4444em;
    font-family: 'Crimson Text', serif;
    color: #8b909d;
}
.slider1 .container {
    width: 100%;
	margin: 0 auto;
    padding: 0;
}
.slidertext {
    text-align: center;
    color:#000;
    padding-bottom: 70px;
    padding-top: 100px;
}

.slidertext h1 {
    font-size: 4rem;
    font-weight:700;
    letter-spacing: 0.01;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 40px 0;
    margin: 0;
    color: #161b29;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.slider-container img {
    display: block;
    height:auto;
}

.slider1,
.gallery{
	padding-top: 0px;
	padding-bottom: 80px;
}

.slider1{
	background-color: #fff;
}


/*Contact*/
#contact .container h2{
    font-size: 4rem;
    font-weight:700;
    letter-spacing: 0.01;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 40px 0;
    margin: 0;
    color: #161b29;
    text-align: center;
}
  #contact .section-title {
    padding: 80px 0 85px 0;
  }

  #contact .text-success,
  #contact .text-danger {
    display: none;
  }

  #contact .form-control {
    background: transparent;
    border: 0;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 35px;
    transition: all ease-in-out 0.4s;
  }

  #contact input {
    height: 55px;
  }

  #contact button#cf-submit {
    background: #d89b64;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
  }

  #contact button#cf-submit:hover {
    background: #f1ad70;
    color: #ffffff;
  }


/*FOOTER*/

.footer {
    background-color: #151a28;
    padding: 50px 0;
}

.footer ul {
    justify-content: space-around;
    list-style: none;
}

.footer ul li a  {
    display:block;
    padding:5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.footer ul li a:hover {
    color:#f1ad70;
    text-decoration: none;
    
}

.footer p {
    display:block;
    padding:5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: #30333b;
    text-decoration: none;
    font-weight: 700;
}


/*RESPONSIVE START*/

@media screen and (max-width: 1440px) {
    .picture img {
        max-width: 100%;
        height: auto;
    }
    #foto2, #foto1, #foto3 {
        height: 560px
    }
    .picture h3 {
        right: 55px;
        bottom: 320px;
    }
    .picture p {
        bottom: 250px;
    }
}

@media screen and (max-width: 1366px) {
     .picture p {
        bottom: 250px;
    }
    .picture h3 {
        right: 40px;
    }
}

@media screen and (max-width: 1280px) {
    .picture h3 {
        right: 25px;
        bottom: 320px;
    }
    .picture p{
        top: 70px;
    }
    .picture #phototext2 {
        top:360px;
    }
    .picture #phototext1 {
        top: 250px;
        
    }
    #foto2, #foto1, #foto3 {
        height: 500px;
    }
    .slider1 img {
        height: 450px;
    }
}
@media screen and (max-width: 1112px) {
    .picture h3{
        font-size: 3.5rem;
        bottom: 250px;
        right: 50px;
    }
    #foto2, #foto1, #foto3 {
        height: 420px
    }
    .picture p{
        top: 60px;
        font-size: 2rem;
    }
    .picture #phototext2 {
        top:300px;
    }
    .picture #phototext1 {
        top: 220px;
    }
    .slidertext {
    padding-top: 70px;
    padding-bottom: 30px;
}
}
@media screen and (max-width: 1024px) {
    #foto2, #foto1, #foto3 {
        height: 370px;
    }
    .picture p{
        font-size: 1.8rem;
    }
    .picture h3{
        bottom: 220px;
        font-size: 3.6rem;
        right: 20px;
    }
    .picture #phototext2 {
        top:260px;
    }
    .picture #phototext1 {
        top: 170px;
    }
}

@media screen and (max-width: 980px) {
    
    .main-nav {
        display: none;
    }
    
    .site-header .container {
        display: block;
        padding: 20px;
    }
    
    
    .mobile-nav {
        width: 10px; 
        display: block;
    }
    
    .mobile-nav li {
        list-style: none;
    }
    
    .mobile-nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100%;
        top: 110px;
        padding: 20px;
        background-color: #151b29;
    }
    
    .mobile-nav a {
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 5px;
        padding: 10px 20px;
        display: block;
        font-family: 'Montserrat', sans-serif; 
    }
    
    .mobile-nav a:hover, mobile-nav a:active {
        background-color: #d89b64;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
    }
    
    .mobile-nav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 25px;
        color: #ffffff;
    }
    
    
    .perfections .section-content {
        flex-direction: column;
    }
        #foto2, #foto1, #foto3 {
        height: 550px
    }
    .picture p{
        top: 100px
    }
    .picture h3{
        bottom: 350px;
        font-size: 3.6rem;
        left: 22px
    }
    .picture #phototext2 {
        top:260px;
    }
    .picture #phototext1 {
        top: 170px;
    }
    
}

@media screen and (max-width: 768px) {
    .slider .col-md-8 {
      padding-left: 0;
    }
    .slider .item-first, .slider .item-second, .slider .item-third {
        height: 600px;
  }
    #home h1 {
        width: 600px;
    }
}
@media screen and (max-width: 640px) {
    
    .footer-nav .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .footer{
        padding-top: 30px;
        padding-bottom: 0px;
    }
    #foto2, #foto1, #foto3 {
        max-width: 100%;
        height: auto;
    }
     .picture p{
        top: 100px
    }
    .picture h3{
        bottom: 470px;
        font-size: 3.6rem;
        left: 22px
    }
    .picture #phototext2 {
        top: 430px;
    }
    .picture #phototext1 {
        top: 320px;
    }
    .apiemus a {
    padding: 10px 10px 10px;
    }
    .whiteborder h1 {
        font-size: 3.2rem;
    } 
    .apiemus p {
        font-size: 1.4rem;
    }
    .apiemus {
        max-width: 100%;
        height: auto;
    }
}



@media screen and (max-width: 414px) {
    .picture img {
        max-width: 100%;
        height: auto;
    }
    .slider .item-first, .slider .item-second, .slider .item-third {
        height: 400px;
  }
    #home h1 {
        width:300px;
        font-size: 1.6rem;
        padding: 0;
    }
    #home h3 {
        font-size: 2rem;
    }
    .slider .owl-dots {
        position: absolute;
        top: 90%;
        right: 38%;
        justify-content: center;
      }
    
    .picture h3{
        bottom: 300px;
        font-size: 3.6rem;
        left: 22px
    }
    .picture #phototext2 {
        top: 340px;
    }
    .picture #phototext1 {
        top: 250px;
    }
    .apiemus a {
    padding: 10px 10px 10px;
    }
    .whiteborder h1 {
        font-size: 2.4rem;
    } 
    .apiemus p {
        font-size: 1.4rem;
    }
    .apiemus {
        max-width: 100%;
        height: auto;
    }
    .whiteborder {
        width: 200px;
    }
    .apiemus .container {
        padding: 150px 120px;
    }
}
@media screen and (max-width: 375px) {
     #foto2, #foto1, #foto3 {
        max-width: 100%;
        height: auto;
    }
    .picture h3{
        bottom: 250px;
        font-size: 3rem;
        left: 22px
    }
    .picture #phototext2 {
        top: 300px;
    }
    .picture #phototext1 {
        top: 200px;
    }
    .slider1 img {
        height: 300px;
    }
    .apiemus .container {
        padding: 150px 100px;
    }
}
@media screen and (max-width: 360px) {
    .apiemus .container {
        padding: 150px 80px;
    }
    .picture #phototext2 {
        top: 280px;
    }
    .picture #phototext1 {
        top: 180px;
    }
}
@media screen and (max-width: 320px) {
    .picture h3{
        bottom: 200px;
        font-size: 3rem; 
    }
    .picture p{
        top: 60px;
        font-size: 1.4rem;
    }
    .picture #phototext2 {
        top: 220px;
        font-size: 1.4rem;
    }
    .picture #phototext1 {
        top: 140px;
    }
}
